/* Project Dialog section */
#project__add-dialog {
    /* Styling for the dialog */
    border: 1px solid var(--nav-border-color);
    padding: 1rem 2rem;
    width: 400px;
    height: 250px;
    background-color: var(--background-color-2);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#project__add-form{
    width: 100%;
}

#project__add-dialog>form>div,
#item__add-dialog>form>div {
    /* Styling for form divs */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: .5rem;
}

#project__add-dialog>form>div>input,
#item__add-dialog>form>div>input {
    /* Styling for form inputs */
    border: 1px solid var(--nav-border-color);
    height: 30px;
    border-radius: 5px;
    padding: 0 .5rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

#project__add-dialog>form>div>label,
#item__add-dialog>form>div>label {
    /* Styling for form labels */
    width: 150px;
    font-size: 1rem;
    margin-bottom: .2rem;
    font-family: 'Inconsolata', monospace;
}

#project__add-dialog>form>div>textarea,
#item__add-dialog>form>div>textarea {
    /* Styling for form textareas */
    border: 1px solid var(--nav-border-color);
    height: 60px;
    border-radius: 5px;
    resize: none;
    padding: .2rem .5rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

#project__add-dialog .buttons,
#item__add-dialog .buttons {
    /* Styling for button container */
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

#project__add-dialog .buttons .add__btn,
#item__add-dialog .buttons .add__btn {
    /* Styling for add button */
    background-color: var(--priority-low-color);
    color: var(--text-color-light);
    font-size: 1.1rem !important;
}

#project__add-dialog .buttons .close__btn,
#item__add-dialog .buttons .close__btn {
    /* Styling for close button */
    background-color: var(--delete-btn-color);
    color: var(--text-color-light);
    font-size: 1.1rem !important;
}

/* Item dialog section */
#item__add-dialog {
    /* Styling for the dialog */
    padding: 1rem 2rem;
    width: 400px;
    background-color: var(--background-color-2);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--nav-border-color);
}

#item__add-dialog .select__item-form {
    /* Styling for select item form */
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#item__add-dialog .select__item-form select {
    /* Styling for select element */
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    padding: 0 0.25rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

#item__add-dialog>form {
    /* Styling for form */
    margin-bottom: 1.5rem;
}

#item__add-dialog>form>div>select {
    /* Styling for select inside form */
    height: 30px;
    border-radius: 5px;
    background: #fff;
    padding: 0 0.25rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

#item__add-dialog > div {
    /* Styling for additional div */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

#item__add-dialog>div>select {
    /* Styling for select inside additional div */
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    padding: 0 0.25rem;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}
