@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --background-color-1: #F3EEEA;
    --background-color-2: #EAE4E0;
    --header-color: #776B5D;
    --header-hover-color: #5a5147;
    --tab-border-color: #B0A695;
    --nav-border-color: #51493F;
    --text-color-light: #F3EEEA;
    --text-color-dark: #333333;
    --text-color-nav: #51493F;
    --inbox-color: #78ACC2;
    --today-color: #56854B;
    --project-color: #502ABC;
    --history-color: #E1516B;
    --hover-text-color: #C29778;
    --hover-background-color: #FFFFFF;
    --priority-low-color: #56854B;
    --priority-medium-color: #C29778;
    --priority-high-color: #E15151;
    --edit-btn-color: #78ACC2;
    --delete-btn-color: #E15151;
    --light-mode-color: #B89B01;
    --shadow-color: #c6c6c6;
}

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: 'Inconsolata', monospace;
    font-size:20px;
    color: var(--text-color-dark);
    background: var(--background-color-1);
}
/* REUSABLE */
.d-off{
    display: none !important;
}

.icon__big{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.icon__big:hover{
    background: var(--hover-background-color);
    color: var(--hover-text-color);
}

.icon__small{
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority__btn.priority__low{
    color: var(--priority-low-color);
}

.priority__btn.priority__medium{
    color: var(--priority-medium-color);
}

.priority__btn.priority__high{
    color: var(--priority-high-color);
}


/* HEADER SECTION */
header{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-color);
    color: var(--text-color-light);
    font-size: 1.2rem;
    padding: 0 .25rem;
}

header .logo{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

header .logo i{
    font-size: 1.3rem;
}

header .menu__btn:hover,
header .add__btn:hover{
    background: var(--header-hover-color) !important;
}
/* CONTAINER SECTION */
.container{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
/* NAVIGATION SECTION */
.nav__bar{
    display: flex;
    flex-direction: column;
    width: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-right: 1px solid var(--tab-border-color);
}

.nav__items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inbox__nav i{
    color: var(--inbox-color);
}

.today__nav i{
    color:var(--today-color)
}

.project__nav i{
    color:var(--project-color)
}

.history__nav i{
    color:var(--history-color)
}

.appearance__mode i,
.menu__bot i{
    color: var(--light-mode-color);
}
/* MENU SECTION */
.menu{
    width: 15rem;
    background: var(--background-color-2);
    border-right: 1px solid var(--tab-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.menu__top > div{
    width: 12rem;
}

.search__bar{
    display: flex;
    border: 1px solid var(--nav-border-color);
    border-radius: 10px;
    background: #FFF;
    /* padding: 0 0.25rem; */
    margin-bottom: 1rem;
}

.search__bar > input{
    width: 10rem;
    border: none;
    border-radius: 10px;
}

.search__bar > input:focus{
    outline:none;
}

.search__bar > div{
    border-radius: 10px;
}

.search__bar > div:hover{
    color: var(--hover-text-color)
}

.menu__item{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    border-radius:10px;
}

.menu__item:hover{
    background:var(--hover-background-color);
    color: var(--hover-text-color);
}

.menu__item span{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.menu__item.project__list{
    flex-direction: column;
    border-bottom: 1px solid var(--nav-border-color);
    border-radius:0;
}

.menu__item.project__list:hover{
    background: inherit;
    color:inherit;
}

.menu__item.project__list > div{
    display: flex;
    justify-content: start;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.menu__item.project__list > div:hover{
    background: var(--hover-background-color);
    color:var(--hover-text-color);
}

.arrow {
    position: absolute;
    right:0;
}

.menu__item.project__list ul{
    margin: 0;
    padding: 0;
}

.menu__item.project__list ul li{
    list-style: none;
    margin-bottom: .75rem;
    padding:.25rem 0.5rem;
    border:1px solid var(--nav-border-color);
    border-radius:10px;
}

.menu__item.project__list ul li:hover{
    border:2px solid var(--nav-border-color);
}

.project__add-btn{
    border:none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__add-btn button{
    background: var(--nav-border-color);
    color: var(--text-color-light);
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 0 .5rem;
}

.project__add-btn button:hover{
    opacity: 0.8;
    border:none !important;
}

.menu__bot{
    font-size: 1.3rem !important;
}

/* CONTENT SECTION */
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    color: var(--text-color-dark);
}

.content h1{
    font-size: 2.5rem;
}

.content__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:1rem;
}

/* TODOS*/

.to-do,
.note{
    display: flex;
    width: 60%;
    height: 2.5rem;
    border: 1px solid var(--nav-border-color);
    border-radius: 10px;
}

.to-do:hover,
.note:hover{
    border: 2px solid var(--nav-border-color);
    box-shadow: var(--shadow-color) 5px 5px 10px;
}

.to-do .checkbox{
    width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid var(--nav-border-color);
    flex-grow: 1;
}

.to-do .title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    border-right: 1px solid var(--nav-border-color);
    flex-grow: 20;
}
.note .title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
    border-right: 1px solid var(--nav-border-color);
    flex-grow: 5;
}

.to-do .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    flex-grow: 4;
    gap: 1rem;
}
.note .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    flex-grow: 1;
    gap: 1rem;
}

.to-do .buttons button,
.note .buttons button
    {
    border: none;
    background: inherit;
    height: 100%;
    font-size: 1.3rem;
}

.to-do .buttons button:hover,
.note .buttons button:hover{
    color: var(--hover-text-color);
}

/* CHECKBOX */
input[type='checkbox']{
    appearance: none;
    background-color: #fff;
    margin:0;
    font:inherit;
    color: var(--priority-low-color);
    border: 1px solid var(--header-hover-color);
    width: 1.2rem;
    height:1.2rem;
    border-radius: 5px;
    display: grid;
    place-content: center;
}

input[type='checkbox']:hover{
    border:2px solid var(--header-hover-color)
}

input[type='checkbox']::before{
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 3px;
    transform: scale(0);
    transition: .12s transform ease-in-out;
    box-shadow: inset 1em 1em var(--priority-low-color);
}

input[type='checkbox']:checked::before{
    transform:scale(1);
}




