@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --background-color-1: #F3EEEA;
    --background-color-2: #EAE4E0;
    --header-color: #776B5D;
    --header-hover-color: #5a5147;
    --tab-border-color: #B0A695;
    --nav-border-color: #51493F;
    --text-color-light: #F3EEEA;
    --text-color-dark: #333333;
    --text-color-nav: #51493F;
    --inbox-color: #78ACC2;
    --today-color: #56854B;
    --project-color: #502ABC;
    --history-color: #E1516B;
    --hover-text-color: #C29778;
    --hover-background-color: #FFFFFF;
    --priority-low-color: #56854B;
    --priority-medium-color: #dabe36;
    --priority-high-color: #E15151;
    --edit-btn-color: #78ACC2;
    --delete-btn-color: #E15151;
    --light-mode-color: #B89B01;
    --shadow-color: #c6c6c6;
}

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: 'Inconsolata', monospace;
    font-size:20px;
    color: var(--text-color-dark);
    background: var(--background-color-1);
    overflow: hidden;
}
/* Common */
.df{
    display: flex !important;
}

.d-off{
    display: none !important;
}

.icon__big{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.icon__big:hover{
    cursor: pointer;
    background: var(--hover-background-color);
    color: var(--hover-text-color);
}

.icon__small{
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority__btn.priority__low{
    color: var(--priority-low-color);
}

.priority__btn.priority__medium{
    color: var(--priority-medium-color);
}

.priority__btn.priority__high{
    color: var(--priority-high-color);
}

.btn{
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.btn:hover{
    cursor: pointer;
    opacity: .8;
}

.rotate-180{
    transform: rotate(180deg);
}

.container{
    display: flex;
    flex-direction: row;
    min-height: 95vh;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutLeft{
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

.fadeIn{
    animation:fadeIn linear .3s;
}

.fadeOut{
    animation: fadeOut linear .3s;
}

.slideInLeft{
    animation: slideInLeft linear .3s;
}

.slideOutLeft{
    animation: slideOutLeft linear .3s;
}

.slideInRight{
    animation: slideInRight linear .3s;
}

.slideOutRight{
    animation: slideOutRight linear .3s;
}